@import "tailwindcss";
@custom-variant dark (&:where(.dark-theme, .dark-theme *));

@theme {
    --color-dark-800: #23272F;
    --color-dark-300: #343A46;
}
@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}